body {
  height: 100px;
  width: 150px;
  background-color: #EDEDED;
}

img {
  width: 100px;
  height: 75px;
  display: block;
  float: none;
  margin: auto;
  margin-top: -20px;
  margin-bottom: -20px;
}

h1 {
  text-align: center;
  font-family: 'Cabin', sans-serif;

}

div {
  float: none;
  margin: auto;
  text-align: center;
  margin-bottom: 8px;
}

button {
  text-align: center;
  border-radius: 2px;
  border: transparent;
  background-color: #FF8100;
  box-shadow: 0px 0px 5px #FD5F00;
}
